.line {
    fill: none;
    stroke-width: 3px;
    shape-rendering: geometricPrecision;
}

.tooltip {   
  position: absolute;           
  width: 150px;                  
  height: auto;                 
  padding: 10px;             
  font: 12px sans-serif;        
  background-color: white;   
  border: 1px solid #ddd;  
  border-radius: 5px;           
  pointer-events: none;
  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 0px 3px 12px rgba(0,0,0,.25);
}

.axis.domain {
  display: none;
}

.axis path,
.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
}

.brush .selection {
      stroke: #fff;
      fill-opacity: .225;
      shape-rendering: crispEdges;
}


.main {
  fill: none;
  clip-path: url(#clip);     /* Make sure that the blue area will not appear on the left side of YAxis */
}

.brush .extent {
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }

.resize {
  display: inline !important; /* show when empty */
  fill: #7A7A7A;
  fill-opacity: 1;
  stroke: #7A7A7A;
  stroke-width: 2px;
}
